// Breakpoints from https://bulma.io/documentation/overview/responsiveness/
$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;

$container-width: 1000px;

// Typography https://coliss.com/articles/build-websites/operation/css/css-font-sizing-by-ire.html
$base-font-size: 62.5%;

$font-size-l:   1.6rem;
$font-size-m:   1.4rem;

$color-black: #262626; // 15% darken #000000
$color-primary: #8b4513; // coffee beans
$color-primary-dark: #311807; // 20% darken
$color-border: #f9e5d7; // 60% lighten
$color-accent: #ec1313; // coffee cherry / 15% desaturate #ff0000

$color-cinnamon-roast: #e17223;  // 20% lighten
$color-medium-roast: #b85b19; // 10% lighten
$color-high-roast: #8b4513;
$color-city-roast: #5e2f0d; // 10% darken
$color-fullcity-roast: #48240a; // 15% darken
$color-french-roast: #311807; // 20% darken
