// breakpoints from https://bulma.io/documentation/overview/responsiveness/
$mobile: 768px;
$tablet: 769px;
$desktop: 1024px;

$container-width: 1000px;

$font-l:   1.6rem;

$color-primary: #8b4513;
$color-primary-dark: #5e2f0d;
$color-primary-light: #b85b19;
