.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #e6e6e6;

  .copyright {
    margin-bottom: 2rem;
    text-align: center;

    .twitter-name {
      margin-left: 0.2rem;

      &:hover {
        color: $color-black-dark;
      }
    }
  }

  .github {
    width: 24px;
    margin: 0 auto 2rem auto;
  }

  .copyright-flaticon {
    text-align: center;
    font-size: $font-size-s;
  }
}
