.footer {
  //border-top: 1px solid #f9e5d7;
  background-color: #e6e6e6;

  .copyright {
    padding-top: 3rem;
    text-align: center;

    .twitter-name {
      margin-left: 0.2rem;

      &:hover {
        color: $color-high-roast;
      }
    }
  }

  .copyright-flaticon {
    margin-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    font-size: $font-size-s;
  }
}
