# MySQL. Versions 5.1.10 and up are supported.
#
# Install the MySQL driver
#   gem install mysql2
#
# Ensure the MySQL gem is defined in your Gemfile
#   gem 'mysql2'
#
# And be sure to use new-style password hashing:
#   https://dev.mysql.com/doc/refman/5.7/en/password-hashing.html
#
default: &default
  adapter: mysql2
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_general_ci
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: <%= ENV["DB_PASSWORD"] %>
  host: 127.0.0.1

production:
  <<: *default
  host: <%= ENV["DB_HOST"] %>
  database: coffeehub
  username: <%= ENV["DB_USERNAME"] %>

development:
  <<: *default
  database: coffeehub_development

test:
  <<: *default
  database: coffeehub_test
