$card-item-line-height: 2rem;

.card-item {
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  border: 1px solid $color-border;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px $color-gray;
  display: flex;
  line-height: $card-item-line-height;
  height: 10.5rem;

  .card-item-left {
    width: 33.3%;
    padding-left: 0.25rem;
  }

  .card-item-right {
    width: 66.7%;
    padding-left: 0.25rem;
  }

  .card-item-cup-and-shop,
  .card-item-coffee-bean-and-roast {
    display: flex;
    align-items: center;
  }

  .card-item-cup-and-shop {
    margin-bottom: 0.5rem;
  }

  .card-item-shop {
    overflow: hidden;
    padding-left: 0.25rem;
  }

  .card-item-cup-wrapper {
    .card-item-cup {
      width: 3.2rem;
      height: 3.2rem;
      margin-bottom: -0.5rem;
      fill: $color-black;
    }
  }

  .card-item-coffee-bean-wrapper {
    display: inline-block;
    padding: 0 0.4rem 0 0.4rem;

    .card-item-coffee-bean {
      width: 2.4rem;
      height: 2.4rem;
      margin-bottom: -0.25rem;
    }
  }

  .card-item-roast,
  .card-item-roast-sufix {
    color: $color-accent;
  }

  .card-item-roast {
    padding-left: 0.25rem;
  }

  .card-item-title {
    margin-bottom: 0.4rem;
    color: $color-primary-dark;
    font-weight: bold;
    max-height: $card-item-line-height * 2;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      max-height: $card-item-line-height * 1;
    }
  }

  .card-item-area {
    margin-left: 1rem;
  }

  .card-item-taste {
    max-height: $card-item-line-height * 3;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      max-height: $card-item-line-height * 4;
    }
  }
}
