$card-item-line-height: 2rem;

.card-item {
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  border: 1px solid $color-border;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  line-height: $card-item-line-height;
  height: 10.5rem;

  .card-item-left {
    flex: 1;
  }

  .card-item-right {
    flex: 2;
  }

  .card-item-cup-wrapper {
    .card-item-cup {
      width: 3.2rem;
      height: 3.2rem;
      margin-bottom: -0.5rem;
    }
  }

  .card-item-coffee-bean-wrapper {
    display: inline-block;
    padding: 0.8rem 0.4rem 0 0.4rem;

    .card-item-coffee-bean {
      width: 2.4rem;
      height: 2.4rem;
      margin-bottom: -0.25rem;
    }
  }

  .card-item-roast {
    color: $color-accent;
  }

  .card-item-title {
    margin-bottom: 0.4rem;
    color: $color-primary-dark;
    font-weight: bold;
    max-height: $card-item-line-height * 2;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      max-height: $card-item-line-height * 1;
    }
  }

  .card-item-area {
    margin-left: 1rem;
  }

  .card-item-taste {
    color: $color-black;
    max-height: $card-item-line-height * 3;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      max-height: $card-item-line-height * 4;
    }
  }
}
