.coffee-bean-cinnamon {
  fill: $color-cinnamon-roast;
}

.coffee-bean-medium {
  fill: $color-medium-roast;
}

.coffee-bean-high {
  fill: $color-high-roast;
}

.coffee-bean-city {
  fill: $color-city-roast;
}

.coffee-bean-fullcity {
  fill: $color-fullcity-roast;
}

.coffee-bean-french {
  fill: $color-french-roast;
}
