.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.pagination-item {
  margin: 0 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: $border-radius-size;
  border: 1px solid $color-gray;
  color: $color-gray;
  cursor: initial;

  &.active {
    @include border-hover();

    border: 1px solid $color-border;
    color: $color-black;
    cursor: pointer;
  }
}
