.pickup {
  position: relative;
  height: 232px;
  margin-bottom: 2.5rem;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    margin-left: 1rem;
  }

  .pickup-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;

    @media screen and (min-width: $tablet) {
      width: 100%;
      height: auto;
    }
  }

  .pickup-note {
    position: absolute;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid $color-accent;
    font-size: $font-size-s;
  }

  .pickup-area {
    position: absolute;
    bottom: 0;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: $color-primary-dark;
    background-color: $color-white-transparent;
  }

  .pickup-shop {
    margin-bottom: 0.5rem;
    font-size: $font-size-l;
  }
}
