.ribbon_area {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  bottom: -8px;
  right: -8px;

  &::before,
  &::after {
    position: absolute;
    content: '';
    display: block;
    border: 3px solid $color-ribbon-dark;
  }

  &::before {
    bottom: 0;
    left: 0;
  }

  &::after {
    top: 0;
    right: 0;
  }

  .ribbon {
    position: absolute;
    display: block;
    width: 120px;
    padding: 2px 0;
    background-color: $color-ribbon;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: $color-white;
    text-align: center;
    left: -10px;
    bottom: 21px;
    transform: rotate(-45deg);
  }
}
