.section-title-and-roast-select {
  position: relative;

  .section-title {
    color: $color-primary;
    font-weight: bold;
    font-size: $font-size-l;
    margin-bottom: 1.5rem;

    @media screen and (max-width: $mobile) {
      text-align: center;
    }
  }
}

.section-arrival {
  position: relative;
  color: $color-primary;
  font-weight: bold;
  font-size: $font-size-l;
  text-align: center;
  margin: 2rem 0;

  .section-arrival-title {
    position: relative;
    background-color: $color-white;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: $color-gray;
    vertical-align: middle;
  }
}

.section-roast-title {
  background-color: $color-border;
  padding: 2rem 0;
  padding-left: 1rem;
}
